{% extends 'base.html' %}

{% block content %}

<h1>About page</h1>
<h3>{{ title|capfirst }}</h3>
<p>This is the About page!!</p>


<p>
  {{ my_number }}
</p>

<ul>
{% for abc in my_list %}
  {% if abc == 312 %}
    <li>{{ forloop.counter }} - {{ abc|add:22 }}</li>
  {% elif abc == "abc"%}
    <li>This is not a network {{ request.user }}</li>
  {% else %}
    <li>{{ forloop.counter }} - {{ abc }}</li>
  {% endif %}
{% endfor %}
</ul>

{% endblock %}

{% block content_2 %}
<p>This is more content!!</p>
{% endblock %}
